body {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    justify-content: center;
    width: 1000px;
       
}
h1 {
    color: green;
    size: 0cqmax;
    text-align: center;
    
}

.ma-classe{
    color: red;
}
.table{
   border-collapse: collapse;
   width: 200px;
   margin-bottom: 20px;
}
th, td{
    border: 1px solid black;
    padding: 10px;
}
th{
    text-align: center;
    color: red;
}
.image {
    width: 150%;
    height: auto;
}

p {
    margin: 0;
}